---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=pousada%40teste.com&name=Pousada+Realtime+VCR&metadata[company_id]=844074111
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 4faeef9e-0a10-4aaf-ac58-821737c1c18b
      Stripe-Version:
      - 2026-07-29.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4faeef9e-0a10-4aaf-ac58-821737c1c18b
      Original-Request:
      - req_XVD7TNXhwvDfqH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-07-29.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_V48ySKD2ggQmHh",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1786635427,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "pousada@teste.com",
          "invoice_prefix": "TZJNEALG",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "company_id": "844074111"
          },
          "name": "Pousada Realtime VCR",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 13 Aug 2026 15:37:08 GMT
recorded_with: VCR 6.4.0
